@font-face {
    font-family: sfpro_medium;
    src: url(Fonts/SF-Pro-Text-Medium.otf);
} 
@font-face {
    font-family: sfpro_semibold;
    src: url(Fonts/SF-Pro-Text-Semibold.otf);
}
@font-face {
    font-family: sfpro_regular;
    src: url(Fonts/SF-Pro-Text-Regular.otf);
}
body{
    font-family: sfpro_regular, sans-serif;
    background-color: black;
    align-items: center;
    align-content: center;
}
#container-dark{
    background-color: black;
}
#container-light{
    background-color: white;
}
.hover-button {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .hover-button:hover {
    background-color: black;
    color: white;
  }
  